.App {
    text-align: center;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.App-header {
    flex-direction: column;

    color: white;
}

.question {
    width: 100%;
    background-color: red;
}