@font-face {
    font-family: Stranger;
    src: url("Stranger back in the Night.ttf");
}

.App {
    font-size: 80px;
    font-family: Stranger;
    text-align: center;
    display: flex;
    background-color: #d9cab3;
    flex-wrap: wrap;
    justify-content: center;
}

.App-header {
    flex-direction: column;

    color: white;
}

.question {
    width: 100%;
    background-color: #9a031e;
}