#modal {
  text-align: center;

  justify-content: center;
  position: absolute;
  background-color: #d9cab3;
  height: 100%;
  width: 100%;

}

.identification {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d9cab3;
  height: 100%;
}

.message {
  width: 100%;
  background-color: #d9cab3;
}


.close {
  float: right;
  border: 3px solid black;
  width: fit-content;
  margin: 5px;
  margin-top: 10px;
  font-size: 50px;
  cursor: pointer;
}

.out {
  display: none;
}

.image_profile {
  border-radius: 100%;
  cursor: pointer;
}

.image_profile:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.input_button {
  position: relative;
  top: -9px;
  color: white;
  font-size: 30px;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.input_text {
  position: relative;
  top: -5px;
  line-height: 40px;
  font-size: 40px;
  width: 120px;

}

form {
  background-color: #d9cab3;
}