.vote_container {
  border-radius: 10%;
  color: white;
  background-color: #bc8034;
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 10px;
}

.vote_image {
  height: 350px;
  cursor: pointer;
  margin-bottom: -20px;
  margin-top: -20px;
}

.vote_container:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  outline: 1px dashed #fff;
  outline-offset: -13px;

}